<H1>你好, {{.Name}}</H1>
<p>简介: {{.Bio}}</p>
<p>年龄: {{.Age}}</p>

<script>
    const user = {
        "name": {{.Name}},
        "bio":  {{.Bio}},
        "age":  {{.Age}},
    }
    console.log(user);
</script>