<h1>欢迎来到我的站点!</h1>

{{template "lorem"}}
{{template "lorem"}}
{{template "lorem"}}

{{define "lorem"}}
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam quae ea nobis reiciendis ratione eligendi quis
    perferendis dignissimos consequatur, in sapiente? Omnis adipisci, soluta tempora aliquam eos earum et magnam.</p>
{{end}}